.containerRow {
  display: flex;
  flex-direction: row;
}

.containerColumn {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justifyCenter {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.alignCenter {
  align-items: center;
}

.text-center {
  text-align: center;
}

.full {
  width: 100vw;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.full-height {
  height: 100%;
}

.fullHeight {
  height: 100%;
}

.default-width {
  max-width: 500px;
}

.defaultWidth {
  max-width: 500px;
}

.left-auto {
  margin-left: auto;
}

.leftAuto {
  margin-left: auto;
}

.right-auto {
  margin-right: auto;
}

.rightAuto {
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.can-drag {
  -webkit-user-select: auto !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}